.mainbox {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
  background-color: var(--branding-main-dark);
  box-shadow: var(--chakra-shadows-none);
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  transition: all 0.3s ease-in-out;
}
.img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.Text {
  text-align: center;
  color: white;
}
.Title{
    color: var(--branding-main)
}
.mainbox:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 50px 1px rgba(0,191,100,0.59); 
  box-shadow: 0px 0px 50px 1px rgba(0,191,100,0.59);
}

@media only screen and (max-width: 660px) {
  .mainbox {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: var(--branding-main-dark);
    box-shadow: var(--chakra-shadows-none);
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
  }
  .mainbox:hover {
    transform: scale(1);
  }
}
