
.mainBox, .mainBox2 {
    transition: 0.3s;
    display: flex;
    flex-direction: reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    background-color: var(--branding-main-dark);
    width: 350px;
    height: 150px;
    padding: 10px;
    box-shadow: var(--chakra-shadows-none);
    border-radius: 5px;
    margin-left: 25px;
    align-items: center;

  }
  .txtdiv h4{
    color: var(--branding-main) !important;
  }
  .mainBox2 {
    margin-left: 0px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    object-fit: cover;
  }
  .logoWChart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .priceWPour {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
  .smallCharts {
    width: 120px;
    height: 30px;
  }
  .green {
    color: green;
  }
  .red {
    color: red;
  }
  
  .mainBox:hover, .mainBox2:hover{
    -webkit-box-shadow: 0px 0px 50px 1px rgba(0,191,100,0.59); 
    box-shadow: 0px 0px 50px 1px rgba(0,191,100,0.59);
  }
  @media only screen and (max-width: 660px) {
    .mainBox, .mainBox2{
      transition: 0.3s;
      display: flex;
      flex-direction: reverse;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      background-color: var(--branding-main-dark);
      width: 350px;
      height: 150px;
      padding: 10px;
      box-shadow: var(--chakra-shadows-none);
      border-radius: 5px;
      margin-left: 0px;
      margin-top: 50px;
      align-items: center;
    }
    .txtdiv{
      width: 60%;
    }
  }
  